<section class="bgcolor">
	<div class="row">
		<div class="col-md-12">
			<div class="col-sm-12 text-center">
				<h2 class="contact-head"><strong>{{ head }}</strong></h2>
			</div>
			<div class="col-sm-12">
				<img ng-src="{{ image }}" class="img-responisve center-block">
			</div>
		</div>
		</div><!-- closing tag for row section -->
		<div id="fetSlide" class="row">
			<div class="col-md-12">
				<!-- One Image -->
				<div class="col-xs-12 col-sm-6 col-md-4" id="fetSlideShow">
					<div class="col-sm-12">
						<img src="img/features/branding.png" class="features-img" />
						<h3 class="features-head">Branding</h3>
					</div>
					<div class="col-xs-12 col-sm-10 col-sm-offset-2">
						<p class="features-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
					</div>
				</div>
				<!-- Two Image -->
				<div class="col-xs-12 col-sm-6 col-md-4" id="fetSlideShow">
					<div class="col-sm-12">
						<img src="img/features/development.png" class="features-img" />
						<h3 class="features-head">Development</h3>
					</div>
					<div class="col-xs-12 col-sm-10 col-sm-offset-2">
						<p class="features-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
					</div>
				</div>
				<!-- Third Image -->
				<div class="col-xs-12 col-sm-6 col-md-4" id="fetSlideShow">
					<div class="col-sm-12">
						<img src="img/features/consulting.png" class="features-img" />
						<h3 class="features-head">Consulting</h3>
					</div>
					<div class="col-xs-12 col-sm-10 col-sm-offset-2">
						<p class="features-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>