<section>
	<div class="row">
		<div class="col-md-12">
			<div class="col-sm-12 text-center">
				<h2 class="contact-head"><strong>{{ head }}</strong></h2>
			</div>
			<div class="col-sm-12">
				<img ng-src="{{ image }}" class="img-responisve center-block">
			</div>
			<div class="col-sm-12 text-center">
				<p class="contact-des">{{ des }}</p>
			</div>
		</div>
	</div><!-- closing tag for row section -->
	<div class="row">
		<div class="col-md-12">
			<ul class="slider-team">
				<li ng-repeat="team in teaminfo">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
						<img ng-src="{{ team.image }}" alt="{{ team.alt }}" class="center-block" />
						<div class="col-sm-12">
							<h3 class="text-center">{{ team.name }}</h3>
						</div>
						<div class="col-sm-12">
							<h5 class="text-center">{{ team.position }}</h5>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- Some Fun Facts Section coding -->
	<div class="sff-bg img-responsive">
		<div class="row">
			<div class="col-md-12">
				<div class="col-sm-12 text-center">
					<h2 class="contact-head"><strong>{{ funhead }}</strong></h2>
				</div>
				<div class="col-sm-12">
					<img ng-src="{{ whiteHeart }}" class="img-responisve center-block">
				</div>
			</div>
		</div><!-- closing tag for row section -->
		<div class="row fun-padding">
			<div class="col-md-12">
				<div class="col-xs-12 col-sm-3 col-md-3" ng-repeat="facts in facts">
					<div class="col-sm-12">
						<img ng-src="{{ facts.image }}" class="center-block" alt="{{ facts.alt }}" />
					</div>
					<div class="col-sm-12">
						<h1 class="text-center fun-text">{{ facts.number }}</h1>
					</div>
					<div class="col-sm-12">
						<h4 class="text-center fun-text">{{ facts.head }}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Footer Coding -->

	<footer>
		<div class="col-md-12">
			<!-- section 1 -->
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
				<div class="col-sm-12">
					<p class="footer-logo">Brandi</p>
				</div>
				<div class="col-sm-12">
					<p class="footer-description">eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
			<!-- section 2 -->
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="col-sm-12">
					<h5 class="footer-subscribe-txt">Subscribe</h5>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
    					<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
  					</div>
				</div>
				<div class="col-sm-12">
					<p class="footer-description">eusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<!-- section 3 -->
			<div class="col-xs-12 col-sm-3 col-md-4 col-lg-3">
				<div class="col-sm-12">
					<p class="footer-exploreList-txt">Explore</p>
				</div>
				<div class="col-sm-12">
					<div class="list-exp">
						<ul class="exploreList">
							<li><a href="#">Envato</a></li>
							<li><a href="#">Themeforest</a></li>
							<li><a href="#">Themecurve</a></li>
							<li><a href="#">Microsoft</a></li>
							<li><a href="#">Kreativeshowcase</a></li>
							<li><a href="#">Google</a></li>
							<li><a href="#">Freebiescurve</a></li>
							<li><a href="#">Yahoo</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- section 4 -->
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<p>Created with <img src="img/footer-heart.png" class="footer-heart" /> by themecurve,</p> <br /> exclusive for Kreativeshowcase<br />
				&copy; 2014 Brandi. All Rights Reserves.</p>
			</div>
		</div>
		
	</footer>
