<section>
	<div class="row">
		<div class="col-md-12">
			<div class="col-sm-12 text-center">
				<h2 class="contact-head"><strong>{{ head }}</strong></h2>
			</div>
			<div class="col-sm-12">
				<img ng-src="{{ image }}" class="img-responisve center-block">
			</div>
			<div class="col-sm-12 text-center">
				<p class="contact-des">{{ des }}</p>
			</div>
		</div>
	</div><!-- closing row for top content -->
	<div class="row">
		<div class="col-md-12" id="portfolio2">
			<ul id="filter">
				<li class="current"><a href="#">All</a></li>
				<li><a href="#">Branding</a></li>
				<li><a href="#">Web</a></li>
				<li><a href="#">Logo Design</a></li>
				<li><a href="#">Photography</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<ul id="portfolio">
			<li ng-repeat="work in work" class="{{ work.style }}"><a href="#"><img ng-src="{{ work.image }}" alt="{{ work.alt }}" class="img-responsive"></a></li>
		</ul>
	</div>
	
</section>
<!-- Footer Coding -->
	<footer>
		<div class="col-md-12">
			<!-- section 1 -->
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
				<div class="col-sm-12">
					<p class="footer-logo">Brandi</p>
				</div>
				<div class="col-sm-12">
					<p class="footer-description">eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
			<!-- section 2 -->
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="col-sm-12">
					<h5 class="footer-subscribe-txt">Subscribe</h5>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
    					<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
  					</div>
				</div>
				<div class="col-sm-12">
					<p class="footer-description">eusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<!-- section 3 -->
			<div class="col-xs-12 col-sm-3 col-md-4 col-lg-3">
				<div class="col-sm-12">
					<p class="footer-exploreList-txt">Explore</p>
				</div>
				<div class="col-sm-12">
					<div class="list-exp">
						<ul class="exploreList">
							<li><a href="#">Envato</a></li>
							<li><a href="#">Themeforest</a></li>
							<li><a href="#">Themecurve</a></li>
							<li><a href="#">Microsoft</a></li>
							<li><a href="#">Kreativeshowcase</a></li>
							<li><a href="#">Google</a></li>
							<li><a href="#">Freebiescurve</a></li>
							<li><a href="#">Yahoo</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- section 4 -->
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<p>Created with <img src="img/footer-heart.png" class="footer-heart" /> by themecurve,</p> <br /> exclusive for Kreativeshowcase<br />
				&copy; 2014 Brandi. All Rights Reserves.</p>
			</div>
		</div>
		
	</footer>
